---
title: "jyotsna"
layout: default
permalink: "/author-jyotsna.html"
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">{{page.title}} <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.jyotsna.twitter }}">Follow</a></span></h2>
                <p><a href="{{ site.authors.jyotsna.web }}">{{ site.authors.jyotsna.web }}</a></p>
                <p class="excerpt">{{ site.authors.jyotsna.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.jyotsna.name }}" src="{{ site.authors.jyotsna.gravatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Posts by jyotsna </span></h4>
            {% assign posts = site.posts | where:"author","jyotsna" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
    </div>
</div>
</div>
