---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

@media only screen
and (max-device-width: 600px)
{
	p { overflow-x: scroll; }
	div.copyright p {
		text-align: center !important;
		float:none !important;
	}
}

pre {
	font-size: 15px !important;
}
